<!-- Step 2 -->
						<span class="item-title">Instructor Information</span>
						<div class="form-item">
							<div class="form-head">
								<h2>Instructor Profile</h2>
								<p>Tell the student more about the teacher and their background.</p>
							</div>
							<hr>
							<div class="form-body">
								<div class="form-block">
									<legend>Personal Information</legend>
									<div class="row">
										<div class="col-md-12">
											<div class="field-block">
												<label for="personal-name">Name *</label>
												<div class="field">
													<div class="select">
														<input id="personal-name" name="course_name" class="simplebox form-control mb-2" type="text" maxlength="50">
														<span class="span-desc">50 character limit</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="field-block">
												<label for="personal-title">Tilte *</label>
												<p>Describe your main focus as an instructor (“UX Consultant and Site Designer”).</p>
												<div class="field">
													<div class="select">
														<input id="personal-title" class="simplebox form-control mb-2" name="personal_title" type="text" maxlength="100">
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="field-block">
												<label for="personal-description">Description *</label>
												<p>Please write a short profile of yourself for potential students.</p>
												<div class="field">
													<textarea class="simplebox form-control mb-2" name="" id="personal-description" cols="30" rows="5"></textarea>
													<span class="span-desc">In english only, no HTML, no web or email address, no CAPS</span>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="field-block">
												<label for="website-url">Website URL</label>
												<div class="field">
													<div class="select">
														<input id="website-url" name="website_url" class="simplebox form-control mb-2" type="text" maxlength="50">
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="field-block">
												<label for="facebook-url">Facebook URL</label>
												<div class="field">
													<div class="select">
														<input id="facebook-url" name="facebook_url" class="simplebox form-control mb-2" type="text" maxlength="50">
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="field-block">
												<label for="twitter-url">Twitter URL</label>
												<div class="field">
													<div class="select">
														<input id="twitter-url" name="twitter_url" class="simplebox form-control mb-2" type="text" maxlength="50">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr>
								<div class="form-block">
									<legend>Upload</legend>
									<p>Upload an image or video to represent your course.</p>
									<div class="row">
										<div class="col-sm-12">
											<div class="field-block">
												<label for="course_image">Image File *</label>
												<div class="field">
													<!-- <input class="custom-file" type="file" id="personal_image" name="personal_image" data-multiple-caption="{count} files selected" multiple >
													<label for="personal_image">
														<span class="file-name">No file selected</span>
														<span class="btn btn-01">Browse...</span>
													</label> -->
													<input id="input-b4" name="input-b1" type="file" data-show-preview="false" class="course-file bg-white">
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr>
							</div>
						</div>