{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">

  <div class="form-head">
    <h2>Modules</h2>
    <p>Add your course modules here.</p>
  </div>
  <hr>

  <form method="post" action="">
    <div class="module-list">
      <div class="module">
        <div class="form-body">
          <div class="form-block">
            <div class="row">
              <div class="col-md-12">         
                <div class="module-wrapper">
                  <div class="module-block mb-3">
                    <div class="form-module">
                      <div class="form-block mt-0">
                        <legend>Module Information</legend>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="field-block">
                              <label for="module-title">Title *</label>
                              <div class="field">
                                <input id="module-title" class="simplebox form-control bg-white mb-2" name="module-title_1" type="text" required>
                              </div>
                            </div>
                            <div class="field-block">
                              <label for="module-headline">Headline *</label>
                              <div class="field">
                                <input id="module-headline" class="simplebox form-control bg-white mb-2" name="module-headline_1" type="text" required>
                              </div>
                            </div>
                            <div class="field-block">
                              <label for="module-body">Body *</label>
                              <div class="field">
                                <textarea class="simplebox bg-white form-control mb-2" name="body-text_1" cols="30" rows="5" required></textarea>
                                <span class="span-desc">In english only, no HTML, no web or email address, no CAPS</span>
                              </div>
                            </div>
                            <div class="field-block">
                              <label for="module-content">Content Type</label>
                              <div class="field">
                                <div class="form-check form-check-inline">
                                  <label>
                                    <input type="radio" name="content_file_1" checked> <span class="label-text">Upload File</span>
                                  </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <label>
                                    <input type="radio" name="content_link_1"> <span class="label-text">Link</span>
                                  </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <label>
                                    <input type="radio" name="content_record_1"> <span class="label-text">Record Video</span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="field-block">
                              <label for="module-media">Image File *</label>
                              <div class="field">
                                <input name="module-media_1" type="file" class="course-file" required>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="module-add-row">
                      <a class="module-add add-text" href="#" onclick="addModule(); return false;">ADD NEW MODULE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-none copy">
        <div class="module">
          <div class="form-body">
            <div class="form-block">
              <div class="row">
                <div class="col-md-12">         
                  <div class="module-wrapper">
                    <div class="module-block mb-3">
                      <div class="form-module">
                        <div class="form-block mt-0">
                          <legend>Module Information</legend>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="field-block">
                                <label for="module-title">Title *</label>
                                <div class="field">
                                  <input class="simplebox form-control bg-white mb-2" type="text">
                                </div>
                              </div>
                              <div class="field-block">
                                <label for="module-headline">Headline *</label>
                                <div class="field">
                                  <input class="simplebox form-control bg-white mb-2" type="text">
                                </div>
                              </div>
                              <div class="field-block">
                                <label for="module-body">Body *</label>
                                <div class="field">
                                  <textarea class="simplebox bg-white form-control mb-2" cols="30" rows="5"></textarea>
                                  <span class="span-desc">In english only, no HTML, no web or email address, no CAPS</span>
                                </div>
                              </div>
                              <div class="field-block">
                                <label for="module-content">Content Type</label>
                                <div class="field">
                                  <div class="form-check form-check-inline">
                                    <label>
                                      <input type="radio"> <span class="label-text">Upload File</span>
                                    </label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <label>
                                      <input type="radio"> <span class="label-text">Link</span>
                                    </label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <label>
                                      <input type="radio"> <span class="label-text">Record Video</span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="field-block">
                                <label for="module-media">Image File *</label>
                                <div class="field">
                                  <input type="file" class="course-file">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="module-add-row">
                        <a class="module-add add-text" href="#" onclick="addModule(); return false;">ADD NEW MODULE</a>
                      </div>
                      <div class="module-delete-row">
                        <a class="module-delete add-text" href="#" onclick="removeModule(event); return false;">REMOVE MODULE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-block">
      <div class="col-md-9 center-block"> 
        <button class="btn btn-general btn-submit"><span>Submit</span></button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}