{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="text-wrapper">
      <h2>Analytics Snippet</h2>
      <hr/>
      <div style="max-width: 500px; overflow:hidden;">
		<code>
		window.onload=function(){var t=document.createElement("img");t.setAttribute(
		"src","https://www.welearn.school/static/images/WeLearn_Horizontal.d0068bc7a378.svg"),t.setAttribute("height","80"),t.setAttribute("width","80"),
		t.setAttribute("alt","WeLearn"),t.setAttribute("alt","WeLearn"),t.style.display="inline",t.setAttribute("style","vertical-align:middle;"),
		txt=document.createElement("h3"),txt.innerHTML="Powered by ",txt.style.display="inline",document.getElementsByTagName("footer")[0].appendChild(txt),
		document.getElementsByTagName("footer")[0].appendChild(t)}
		</code>
    </div>
  </div>
</div>
{% endblock content %}
