<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}WeLearn{% endblock title %}</title>
    {% include 'defaults/head.html' %}
  </head>

  <body>
    {% include 'header.html' %}

    <div class="wl-main-content" style="padding-top: 72px;">
      {% block content %}
      {% endblock content %}
    </div>
    
    {% include 'footer.html' %}
    
    {% load static %}
    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.webui-popover.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/readmore.min.js' %}"></script>

    <script type="text/javascript">
      var error_response = function(data){
        $('.api-response').html("API Response: " + data.status + ' ' + data.statusText + '<br/>Content: ' + data.responseText);
      }
      var susccess_response = function(data){
        $('.api-response').html("API Response: OK<br/>Content: " + JSON.stringify(data));
      }

      $().ready(function(){
        $('form.ajax-post button[type=submit]').click(function(){
          var form = $('form.ajax-post');
          $.post(form.attr('action'), form.serialize())
          .fail(function(data){error_response(data);})
          .done(function(data){
            var url = String(window.location)
            if (url.indexOf("next=") != -1) {
               url_index = url.indexOf("next=") + 5;
               window.location = url.substring(url_index);
            }
            else {
              window.location = form.attr('success');
            }
          });
          return false;
        });
      });

      //Show modal form
      $('.sign-up-link').click(function(){
        $('#loginModal').removeClass("fade").modal("hide");
      });
      $('.login-link').click(function(){
        $('#signUpModal').removeClass("fade").modal("hide");
      });

      // //WebUI Popover
      // $('.card').webuiPopover({
      //   placement:'right',
      //   trigger:'hover',
      //   animation:'pop',
      //   width:360,
      // });
    </script>

    <script type="text/javascript">
 
      $(".course-goals button.btn-add").click(function(){ 
          var copy  = $(".goals-copy > div").clone(true);
          var index = $(".course-goals input").length + 1;

          $(copy).find("input").prop("required",true);
          $(copy).find("input").attr("name","goal_"+index);
          $(copy).insertAfter(".course-goals .field-row:last-child");
      });

      $(".course-benefits button.btn-add").click(function(){ 
          var copy  = $(".benefits-copy > div").clone(true);
          var index = $(".course-benefits input").length + 1;

          $(copy).find("input").prop("required",true);
          $(copy).find("input").attr("name","benefit_"+index);
          $(copy).insertAfter(".course-benefits .field-row:last-child");
      });

      $("body").on("click",".btn-minus",function(){ 
          $(this).parent().remove();
      });
 
    </script>

    <script type="text/javascript">
      function addModule() {
        var copy  = $(".copy > div").clone(true);
        var index = $(".module").length + 1;

        $(copy).find("input:nth-child(1)").prop("required",true);
        $(copy).find("input:nth-child(1)").attr("name","module-title_"+index);

        $(copy).find("input:nth-child(2)").prop("required",true);
        $(copy).find("input:nth-child(2)").attr("name","module-headline_"+index);

        $(copy).find("textarea").prop("required",true);
        $(copy).find("textarea").attr("name","body-text_"+index);

        $(copy).insertAfter(".module-list > div:last-child");
      }

      function removeModule(event) {
        event.target.closest(".module").remove();
      }

    </script>

    <script type="text/javascript">
    $(document).ready(function(){
       $(".carousel-x-courses-items").owlCarousel({
        items:4,
        margin:10,
        nav:true,
        dots:false,
        smartSpeed:500,
        responsive: {
          1366 : {
            items:4,
          },
          1024 : {
            items:3,
          },
          768 : {
            items:2,
            margin:1,
          }
        },
        navText:["<img src={% static 'images/slider_prev_01.jpg' %}>","<img src={% static 'images/slider_next_01.jpg' %}>"],
       });
       //School Carousel 
       $(".school-carousel-wrapper").owlCarousel({
        items:4,
        margin:10,
        nav:true,
        dots:false,
        smartSpeed:500,
        navText:["<img src={% static 'images/slider_prev_01.jpg' %}>","<img src={% static 'images/slider_next_01.jpg' %}>"],
       });
       //Instructor Carousel
       $('.instructor-container').owlCarousel({
        items:1,
        autoWidth:true,
        margin:20,
        dots:false,
        smartSpeed:700,
        nav:true,
        responsive: {
          768 : {
            items:1,
          }
        },
        navText:["<img src={% static 'images/slider_prev_01.jpg' %}>","<img src={% static 'images/slider_next_01.jpg' %}>"],
       });
       //Last carousel item popover to left
       $(".owl-carousel").on('initialized.owl.carousel changed.owl.carousel refreshed.owl.carousel', function (e) {
        if (!e.namespace) return;
        var carousel = e.relatedTarget,
        current = carousel.current();
        if (current === carousel.maximum()) {
          var lastcard = $(this).find('.carousel-x-item').last();
          lastcard.find('.card').attr('data-placement','left');
        }
       });

       //Show 1 modal
       $('.sign-up-link').click(function(){
        $('#loginModal').removeClass("fade").modal("hide");
       });
        $('.login-link').click(function(){
        $('#signUpModal').removeClass("fade").modal("hide");
       });
        // //WebUI Popover
        // $('.card').webuiPopover({
        //   placement:'right',
        //   trigger:'hover',
        //   animation:'pop',
        //   width:360,
        // });
        //
        $('.accordion-block li').first().addClass('active').find('.accordion-body').slideDown();
        $('.accordion-block .accordion-head').click(function(event) {
          if ($(this).parent().hasClass('active')) {
            $(this).parent().removeClass('active');
          } else {
            $('.accordion-block li.active').removeClass('active').find('.accordion-body').slideToggle();
            $(this).parent().addClass('active');
          }
          $(this).next().slideToggle();
        });

        //Read More
        $('.read-content').readmore({
          speed: 300,
          collapsedHeight: 315,
          heightMargin: 24,
          moreLink: '<a href="#" class="btn-more-01"><span class="fa-stack"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-angle-down fa-stack-1x fa-inverse"></i></span>Read More</a>',
          lessLink: '<a href="#" class="btn-more-01"><span class="fa-stack"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-angle-up fa-stack-1x fa-inverse"></i></span>Read Less</a>',
          startOpen: false,
        });
        //Read More Module Section
        var itemHeight01 = $('.course-module-content li').height() * 8;
        $('.course-module-content').readmore({
          speed: 300,
          collapsedHeight: itemHeight01,
          heightMargin: 30,
          moreLink: '<a href="#" class="btn-more-01"><span class="fa-stack"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-angle-down fa-stack-1x fa-inverse"></i></span>LOAD MORE</a>',
          lessLink: '<a href="#" class="btn-more-01"><span class="fa-stack"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-angle-up fa-stack-1x fa-inverse"></i></span>Collapse</a>',
          startOpen: false,
          // afterToggle: function( trigger, element, expanded ) {
          //  var accorHeight = $('.accordion-block').height();
          //  var expandedStt = $('.course-module-content').attr("aria-expanded");
          //  if(expanded) {
          //    $('.accordion-block .accordion-head').click(function(){
          //      console.log("click");
          //      $('.course-module-content').css('height', accorHeight+'px !important');
          //    });
          //  }
          // },
        });
        //Read More Preview
        var itemHeight02 = $('.review-list .review-item').height() * 2;

        $('.review-list').readmore({
          speed: 300,
          collapsedHeight: itemHeight02,
          heightMargin: 24,
          moreLink: '<a href="#" class="btn-more-01"><span class="fa-stack"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-angle-down fa-stack-1x fa-inverse"></i></span>LOAD MORE</a>',
          lessLink: '<a href="#" class="btn-more-01"><span class="fa-stack"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-angle-up fa-stack-1x fa-inverse"></i></span>Collapse</a>',
          startOpen: false
        });
    });
  </script>
    {% block script %}{% endblock %}
  </body>
</html>