{% load static %}
<footer>
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="footer-title">
            <span>Company</span>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Testiominals</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <a href="#">
            <img src="{% static 'images/footer_logo.png' %}" alt="">
          </a>
          <ul class="icon-list">
            <li><a href="#"><i class="fa fa-facebook icon-bg-dark"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter icon-bg-light"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram icon-bg-dark"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play icon-bg-light"></i></a></li>
          </ul>
        </div>  
        <div class="col-md-4 text-center">
          <div class="footer-title">
            <span>Policies</span>
            <ul>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Intellectual Property</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright text-center">
    <span>© WeLearn Inc. 2018</span>
  </div>
</footer>