* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body,main {
	min-height: 100% !important;
    height: 100%;
}
body {
	height: 100%;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
.container-fluid {
  padding-top: 72px;
}
.btn-add {
	cursor: pointer;
}
.btn.focus, .btn:focus {
	box-shadow: none;
}
.btn-01 { 
	color: #fff; 
	background: #2281e7; 
	border-radius: 0;
	font-weight: 500;
	outline: none;
}
.btn-01:hover { 
	background: #3496ff; 
	color: #fff;
}
.btn-01.hover-01:hover { 
	background: #ffa414; 
}
.btn-02 {
	background-color: transparent;
	color: #fff;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 0;
}
.btn-02:hover {
	border: 1px solid rgba(255,255,255,0.6);
	color: #fff;
}
.btn-03 {
	background-color: #ff8614;
	border-radius: 0;
	color: #fff;
	font-weight: 500;
}
.btn-03:hover {
	background-color: #ff912a;
	color: #fff;
}
.font-orange {
	color: #ff8614;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.form-control.error {background: #ffe4e6; border-color: #e27078;}
.bg-white {
	background-color: #fff;
}
.text-white {
	color: #fff!important;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}
/*========================================
			Radio Button
=========================================*/
input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}
input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #2281e7;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}
@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}
/*========================================
			Menu
=========================================*/
.menu-nav {
	border-left: 1px solid #e0e0e1;
  border-right: 1px solid #e0e0e1;
  align-self: stretch;
  display: flex;
}
.menu-nav ul ul {
	display: none;
}
.menu-nav ul li:hover > ul {
	display: block;
	transition: all 1s cubic-bezier(.24,.25,.99,-1.07);
}
.menu-nav ul {
	list-style: none;
	position: relative;
	display: flex;
	margin-bottom: 0;
	min-width: calc(100% + 2em);
}
.menu-nav ul:after {
	content: "";
	clear: both;
	display: block;
}
.menu-nav ul li { 
	float: left;
}
.menu-nav ul li:hover a { color: #2d2e33; }
.menu-nav ul li a {
	color: #2d2e33;
	display: block;
	padding: 0px 35px;
}
.menu-nav .btn-catalog ul li a:after {
	font-family: FontAwesome;
	content: "\f105";
	float: right;
}
.menu-nav ul ul ul li a:after {
	content: '';
}
.menu-nav ul ul {
	background: #f4f4f4;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;	
}
.menu-nav ul ul li {
    float: none;
}
.menu-nav ul ul li:first-child {
    padding-top: 1em;
}
.menu-nav ul ul li:last-child a {
    border-bottom: none;
}
.menu-nav ul ul li a {
	color: #2d2e33;
	text-align:left;
	padding: 10px 0;
	margin:0 25px;
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px solid #DCDCDC;
}
.menu-nav ul ul li a:hover {
	color: #227cdf;
}
.menu-nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
	background-color: #37383d;
}
.menu-nav ul ul ul li a {
	color: #aeafb0 !important;
	border-bottom: 1px solid #606060;
}
.menu-nav ul ul ul li a:hover {
	color: #fff !important;
}
.menu-nav ul ul ul li:last-child a {
	border-bottom: none;
	float: right;
}
.btn-catalog {
  /*border-left: 1px solid #e0e0e1;
  border-right: 1px solid #e0e0e1;*/
  font-weight: 500;
}
.btn-catalog a {
  padding: 24px 20px !important;
}
.btn-catalog i {
  background: url("../images/catalog-icon.5ca687547e4b.png") no-repeat bottom;
  display: inline-block;
  vertical-align: middle;
  width: 1.375em;
  height: 1.375em;
  background-size: cover;
  margin-right: 0.675em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0, 0.99);
}
.btn-catalog:hover {
  background-color: #f4f4f4;
}
/*========================================
      Navbar
=========================================*/
.navbar {
  padding: 0 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.navbar-brand img {
  height: 50px;
  padding-bottom: 2px;
  padding-left: 20px;
}
.navbar-wrapper {
  background-color: #fff;
}
.navbar-wrapper .container-fluid {
  padding-right: 0px !important;
}
.menu-catalog {
  margin: 0 30px;
  border-left: 2px solid #e8eef0;
  border-right: 2px solid #e8eef0;
  padding: 23px 30px;
}
.menu-catalog:hover {
  background-color: #F4F4F4;
}
.catalog-icon span {
  font-weight: 500;
  font-size: 16px;
}
.catalog-icon img {
  margin-bottom: 3px;
  margin-right: 5px;
}
.search-form {
  margin-right: 0px !important;
    border: 2px solid #eaeaea;
}
.search-btn i {
  color: #fff;
  padding: 15px 20px;
}
.search-btn {
  background-color: #2281e7;
}
.search-btn:hover {
  background-color: #3496FF;
}
.simplebox {
  outline: none;
  border: 1px solid #eaeaea !important;
  background-color: #eaeaea;
  border-radius: 0;
  padding: 10px 15px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.menu-nav ul .user-login a {
  color: rgba(51,51,51,1);
  padding: 24px 30px;
  border: none;
  outline: none;
}
.menu-nav ul .user-login a:hover {
  color: rgba(51,51,51,1);
  background-color: rgba(13, 12, 12, 0.1);
}
.menu-nav ul .user-login a img {
  padding-right: 10px;
  margin-bottom: -1px;
}
.menu-nav ul .user-sign-up a {
  color: #fff;
  background-color: #2281e7;
  padding: 24px 30px;
  border: none;
  outline: none;
}
.menu-nav ul .user-sign-up a:hover {
  color: #fff;
  background-color: #3496FF;
}
/*========================================
			Navbar Logged
=========================================*/
.create-btn {
	font-weight: 500;
	display: flex;
}
.create-btn a {
	color: #2d2e33;
	align-self: center;
	padding: 0px 20px;
}
.create-btn:hover {
	background-color: #f4f4f4;
}
.create-btn ul {
	display: flex;
	cursor: pointer;
	position: relative;
	align-items: center;
	margin-bottom: 0 !important;
}
.profile-btn {
	font-weight: 500;
	display: flex;
}
.profile-btn img {
	height: 22px;
	align-self: center;
	margin-right: 10px;
}
.profile-btn a {
	color: #2d2e33;
	align-self: center;
	padding: 0px 20px;
}
.profile-btn:hover {
	background-color: #f4f4f4;
}
.profile-btn ul {
	display: flex;
	cursor: pointer;
	position: relative;
	align-items: center;
	margin-bottom: 0 !important;
	min-width: calc(100% + 100px);
}
.profile-btn ul ul {
	display: none;
	position: absolute;
	background-color: #f4f4f4;
	top: 100%;
	right: 0;
}
.profile-btn ul ul li:first-child {
	margin-top: 1em;
}
.profile-btn ul ul li:last-child {
	margin-bottom: 1em;
}
.profile-btn ul ul li a {
	display: block;
	color: #2d2e33;
	padding: 5px 10px;
	font-size: 14px;
}
.profile-btn ul ul li a:hover {
	color: #227cdf;
}
.profile-btn:hover > ul ul {
	display: block;
}
.profile-btn hr {
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
}
/*========================================
				Modal
=========================================*/
.modal-content {
	border-radius: 0 !important;
}
.modal-wrapper {
	padding: 30px;
}
.modal-wrapper h1 {
	font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}
.modal-wrapper h3 {
	font-size: 16px;
	margin-top: 30px;
}
.modal-wrapper h4 {
	font-size: 20px;
	margin-bottom: 30px;
	font-weight: 700;
}
.modal-wrapper p {
	font-size: 18px;
	font-weight: 500;
}
button.close {
  cursor: pointer;
}
.btn-general {
	position: relative;
	border-radius: 0;
	margin-top: 15px;
	width: 100%;
	height: 65px;
	padding: 0;
	text-align: center;
	color: #fff;
}
.btn-general:hover {
	color: #fff;
}
.btn-general i {
	float: left;
    padding: 21px 25px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
    font-size: 25px;
}
.btn-general span {
	position: absolute;
    top: 20px;
    left: 32%;
    content: '';
    font-size: 18px;
    font-weight: 500;
}
.btn-blue {
	background-color: #4864a3;
}
.btn-red {
	background-color: #de4730;
}
.btn-light-blue {
	background-color: #0078b7;
}
.btn-submit {
  cursor: pointer;
  background-color: #2281e7;
}
.btn-submit:hover {
	background: #3496ff;
	color: #fff;
}
.btn-submit span {
  top: 18px;
  left: 47%;
}
.font-weight-b{
	font-weight: 600;
}
hr.or-divider {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: 1px solid #e0e0e1;
    color: #e0e0e1;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;	
}
hr.or-divider:after {
    content: "Or";
    display: inline-block;
    position: relative;
    top: -12px;
    font-size: 1em;
    padding: 0 1.25em;
    background: white;
}
/*========================================
				Home Section
=========================================*/
.hero {
	background-image: url("../images/hero-bg.4268e8dd12e3.jpg");
	height: 100vh;
    position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.hero::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}
.banner-wrapper {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.banner-container {
	background-color: #32445a;
	padding: 50px 0;
	background-image: url("../images/banner-bg.6439dceccc9a.png");
	background-repeat: no-repeat;
	background-position: bottom;
}
.banner-title h1 {
	font-size: 42px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px
}
.banner-desc {
    color: rgba(255,255,255,0.7);
    font-size: 20px;
    margin-bottom: 30px;
}
.banner-search {
	padding: 0px 90px;
}
.banner-form {
	display: flex;
}
.banner-field {
	width: 100%;
    padding: 14px 25px;
    color: #e8eef0;
	border-radius: 0;
	background-color: #EAEAEA;
	font-size: 20px;
}
.banner-form .search-btn  i {
	background-color: #2281e7;
    color: #fff;
    padding: 22px 29px;search-btn
    font-size: 20px;
}
.banner-form .search-btn i:hover {
	background-color: #3496FF;
}

/*========================================
				Feature Section
=========================================*/
.feature-wrapper {
	background-color: #eaeaea;
}
.brand-wrapper {
	background-color: #eaeaea;
}
.feature-container [class*="col-"] {
	padding: 0;
	background-color: #2e2f33;
	border-left: 1px solid #4d4e51;
}
.feature-container {
	padding: 0 15px;
}
.feature-item {
	color: #fff;
	padding: 30px;
	display: flex;

}
.feature-item-desc p {
	display: inline;
	font-size: 14px;
	color: #d0d0d0;
}
.feature-item-icon img {
	margin-right: 16px;
    margin-top: 5px;
}
.brand-item-list {
	padding: 60px 0 30px 0;
}
.center-block {
	margin:auto;
}
/*========================================
				Header
=========================================*/
.we-title {
	padding: 55px 10px 40px 20px;	
}
.we-title h2 {
	font-size: 32px;
	font-weight: 700;
}
.see-all {
	background-color: #2281e7;
	color: #fff;
	margin-right: 20px;
	padding: 10px 15px;
}
.see-all:hover {
	background-color: #3496FF;
	color: #fff;
}
/*========================================
				Carousel
=========================================*/
.owl-theme .owl-nav [class*=owl-] {
	background: none !important;
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 35%;
    margin-left: -22px !important;
    display: block!IMPORTANT;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 35%;
    right: 42px;
    display: block!IMPORTANT;
    border:0px solid black;
}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
   display: none !important;
}
/*========================================
				Card Item
=========================================*/
.card {
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.175) !important;
}
/*.card-img-top { // Stretched image
	height: 185px;
}*/
.card-title {
	font-size: 18px;
	font-weight: 700;
	color: #000;
}
.card-title:hover {
	color: #2281e7;
}
.card-text {
	color: #2e2f33;
	font-size: 14px;
	margin-top: 5px;
}
.card-author {
	font-size: 12px;
	font-weight: 500;
	color: #2e2f33;
}
.card-body span {
	color: #828384;
	font-size: 12px;
}
.divider {
	height: 1px;
	background-color: #EAEAEA;
	margin-top: 50px;
/*    margin-bottom: 30px;*/
}
.card-bot {
	border-top: 1px solid #e0e0e1;
	padding-top: 10px;
	margin-top: 15px;
}
.card-course-name a{
	text-transform: uppercase;
	font-size: .75em;
	font-weight: 600;
}
/*========================================
				Rating Star
=========================================*/
.rating i {
	font-size: 12px;
	color: #ff8614;
}
/*========================================
				Popover
=========================================*/
.course-pop-wrapper {
	padding: 20px;
}
.course-pop-name{
	margin-bottom: 20px;
}
.course-pop-name a {
	font-size: 12px;
	font-weight: 600;
	color: #2281e7;
	text-transform: uppercase;
}
.course-pop-name a:hover {
	color: #2e2f33;
}
.course-pop-title {
	margin-bottom: 20px;
}
.course-pop-title a {
	font-size: 20px;
	font-weight: 600;
	color: #2e2f33;
}
.course-pop-title a:hover {
	color: #2281e7;
}
.course-pop-desc {
	margin-bottom: 20px;
}
.course-pop-desc ul li {
	margin-left: 20px;
}
.course-pop-author {
	margin-bottom: 20px;
}
.pop-btn-group .btn-preview {
	background-color: #2281e7;
	color: #fff;
	padding: 10px 30px;
	margin-right: 10px;
}
.pop-btn-group .btn-enroll {
	background-color: #ffa414;
	color: #fff;
	padding: 10px 40px;
}
.pop-btn-group {
	margin-bottom: 30px;
	margin-top: 30px;
}
.course-pop-whishlist a {
	color: #2e2f33;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
/*========================================
				Featured Instructor
=========================================*/
.featured-instructor {
	background-color: #eaeaea;
	margin-top: 60px;
	padding-bottom: 60px;
}
.instructor-wrapper {
	margin: 0 20px;
}
.dark-gray-bg {
	background-color: #3e4043;
	color: #eaeaea;
}
.light-gray-bg {
	background-color: #565659;
	color: #eaeaea;
}
.instructor-info {
	padding: 30px;
}
.instructor-name {
	font-weight: 700;
	font-size: 24px;
}
.block-student {
	border-right: 1px solid #6f6f72;
	margin: 10px 0 10px 30px;
	font-weight: 500;
	padding: 20px 0;
}
.block-courses {
	margin: 30px;
	font-weight: 500;
}
.block-student span {
	display: block;
}
.block-courses span {
	display: block;
}
.block-img {
	width: 100%;
}
.block-teacher-img {
	position: relative;
}
.footer-item {
	position: absolute;
	bottom: 0;
	right: 0;
	content: '';
	width: 66%
}
.instructor-item {
	width: 945px;
}
.block-courses-img .col-md-6 .course-detail a img {
	width: 30%;
	display: inline-block;
}
.block-courses-img .col-md-6 .course-detail a {
	display: flex;
	margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 10px
}
.block-courses-img .col-md-6 .course-detail a:hover {
	background-color: rgba(255, 255, 255, 1.0);
}
.block-courses-img .col-md-6 .course-detail a span {
	color: #000;
    font-size: 12px;
    padding-top: 18px;
    padding-left: 10px;
}
/*========================================
				Hire Instructor
=========================================*/
.hire-instructor {
	background: #fff url("../images/bg_pattern_02.43ee796b2189.png") repeat-x bottom center;
	padding-top: 60px;
}
.hire-title h1 {
	font-weight: 700;
	font-size: 46px;
	margin-bottom: 30px;
}
.hire-desc {
	font-size: 20px;
	margin-bottom: 30px;
}
.hire-btn a {
	background-color: #2281e7;
    font-size: 24px;
    color: #fff;
    border-radius: 0;
    padding: 11px 24px;
    font-weight: 500;
    margin-bottom: 35px;
}
.hire-btn a:hover {
	background-color: #3496FF;
}
/*========================================
				Footer
=========================================*/
.footer-content {
	background-color: #32445A;
	padding: 60px;
}
.copyright {
	background-color: #2b3a4e;
}
.footer-title {
	color: #fff;
}
.footer-title span {
	font-size: 24px;
}
.footer-title ul {
	margin-top: 20px;
}
.footer-title ul li {
	list-style: none;
}
.footer-title ul li a {
	color: #949DA9;
	font-size: 14px;
	font-weight: 400;
}
.footer-title ul li a:hover {
	color: #fff;
}
.icon-list {
	display: flex;
    justify-content: center;
    margin-top: 40px;
}
.icon-list li {
	list-style: none;
}
.icon-list li i {
	color: #fff;
    font-size: 26px;
    height: 60px;
    width: 60px;
    padding-top: 18px;
}
.icon-bg-dark {
	background-color: #2b3a4e;
}
.icon-bg-light {
	background-color: #47576b;
}
.copyright {
	padding:30px;
}
.copyright span {
	color: rgba(255, 255, 255, 0.4);
	font-size: 14px;
}

/*========================================
			Course Head 1 Preview
=========================================*/
.course-head-1 {
	background-color: #2e2f33;
}
.course-head-wrapper {
	padding: 130px 30px 50px 30px; 
	color: #fff;
}
.course-head-img {
	position: relative;
}
.play-toggle, .play-toggle * {-webkit-transition: all 0.475s cubic-bezier(.14,.61,.19,1); -moz-transition: all 0.475s cubic-bezier(.14,.61,.19,1); -ms-transition: all 0.475s cubic-bezier(.14,.61,.19,1); -o-transition: all 0.475s cubic-bezier(.14,.61,.19,1); transition: all 0.475s cubic-bezier(.14,.61,.19,1); }
.play-toggle {position: absolute; top: 50%; left: 50%; background: #fff; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -ms-align-items: center; align-items: center; justify-content: center; width: 3em; height: 3em; color: #2d2e33; transform-origin: center; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); cursor: pointer; }
.play-toggle .fa {font-size: 1.125em;}
.play-toggle:hover {-webkit-transform: translate(-50%,-50%) rotate(45deg); -moz-transform: translate(-50%,-50%) rotate(45deg); -ms-transform: translate(-50%,-50%) rotate(45deg); -o-transform: translate(-50%,-50%) rotate(45deg); transform: translate(-50%,-50%) rotate(45deg); }
.play-toggle:hover .fa {-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); color: #3496ff; }

.course-head-img img {
	width: 100%;
}
.course-name a {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}
.course-name a:hover {
	color: #707173;
}
.course-title {
	font-size: 30px;
	font-weight: 700;
}
.course-desc {
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}
.rate-block .point-rate {
	font-size: 14px;
}
.rate-block .point-rate em {
	font-style: normal;
	 margin: 0 0.475em; 
}
.rate-block li .fa[class*='fa-star'] {
	margin: 0 1px; 
	font-size: 14px;
	color: #ff8614;
}

.list-inline { 
	padding-left: 0; 
	list-style: none; 
	font-size: 0; 
}
.list-inline > li { 
	display: inline-block; 
	font-size: 12px; 
}
.author-block li {
	font-size: 14px; 
}
.author-block li + li:before {
	content: ''; 
	display: inline-block; 
	vertical-align: middle; 
	margin: -2px 0.475em 0; 
	height: 1.125em; 
	width: 1px; 
	background: rgba(255,255,255,0.6); 
}
.course-tag {
	font-size: 20px;
	font-weight: 700;
}
.course-tag-list {
	margin-top: 20px;
}
.course-tag-list li a {
	list-style: none;
	font-size: 14px;
	color: rgba(255,255,255,0.6); 
}
.course-tag-list li a:hover {
	color: #fff;
}
/*========================================
			Course Head 2
=========================================*/
.course-head-2 {
	background-color: #32445a;
}
.course-head-2-wrapper {
	color: #fff;
}
.course-price {
	font-size: 26px;
	font-weight: 700;
	padding: 15px 0;

}
.border-right {
	border-right: 1px solid #516073;
}
.save-whishlist {
	color: rgba(255,255,255,0.6);
	text-transform: uppercase;
}
.save-whishlist i {
	margin-left: 20px;
	margin-right: 10px;
}
.save-whishlist:hover {
	color: #fff;
}
/*========================================
			Course Goal
=========================================*/
.course-wrapper {
	padding: 70px 0;
}
.course-wrapper p {
	color: rgba(46,47,71,0.7);
}
.course-preview-title {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 30px;
}
.course-content {
	display: flex;
	padding-bottom: 20px;
}
.course-content-icon {
	height: 10%;
	width: 10%;
	margin-top: 6px;
	margin-right: 15px;
}
.course-goal .course-content {
	padding: 0;
}
.course-goal .course-content p {
	font-size: 20px;
}
/*========================================
			Course Description
=========================================*/
.course-description {
	background-color: #f4f4f4;
}
.read-content + [data-readmore-toggle], .read-content[data-readmore] {
	display: block; 
	width: 100%;
}
.read-content[data-readmore] {
	transition: height 300ms;
	overflow: hidden;
}
/*========================================
			Modul Preview
=========================================*/
.course-module {
	background-color: #2E2F33;
}
.course-module .course-preview-title, .course-count {
	color: #fff;
}
.course-module-content, .course-module-content a {
	color: #fff;
}
.course-module-content[data-readmore] {
	transition: height 300ms;
	overflow: hidden;
}
.accordion-block li + li {
	margin-top: 10px; 
}
.accordion-block li + li {
	margin-top: 10px; 
}
.accordion-head {
	background: #565659; 
	padding: 0.75em 0; 
	cursor: pointer;
}
.accordion-head h3 {
	font-size: 1.25em; 
	line-height: 1.6; 
}
.accordion-head .row-head > [class^='col'] {
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
	-ms-align-items: center; 
	align-items: center; 
}
.accordion-head .col-link {
	text-transform: uppercase; 
	letter-spacing: 1px; 
	justify-content: flex-end; 
	font-size: 16px;
}

.accordion-head .toggle-label { 
	position: relative; 
	width: 1.5em; 
	height: 1.5em; 
	display: block; 
	margin: auto;
}
.accordion-head .toggle-label:before {
	content: '';
	position: absolute;
	top: 0.675em;
	right: 0;
	display: block;
	width: 1.5em;
	height: 1px;
	background: #fff;}
.accordion-head .toggle-label:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0.7em;
	display: block;
	width: 1px;
	height: 1.5em;
	background: #fff;
	opacity: 1;
	-webkit-transition-duration: 0.175s;
	-moz-transition-duration: 0.175s;
	-ms-transition-duration: 0.175s;
	-o-transition-duration: 0.175s;
	transition-duration: 0.175s;
}
.active .accordion-head .toggle-label:after { 
	top: 2.5em; 
	opacity: 0; 
}
.active .accordion-head {
	background: #2281e7;
}

.accordion-body {display: none; 
	background: #fff; 
	padding: 1.5em; 
	color: rgba(46,47,51,0.7); 
}
/*========================================
			Student Reviews
=========================================*/
.rating-summary .rate-box {background: #2281e7; color: #fff; text-align: center; }
.rating-summary .rate-box .rate {font-size: 6.25em; font-weight: 300; line-height: 0.875; }
.rating-summary .rate-content {padding: 1.25em 0; border-bottom: 1px solid rgba(244,244,244,0.5);}
.rating-summary .rate-stars {padding: 0.625em 0;}
.rating-summary .rate-stars .fa  {margin: 0 2px; }

.rating-summary .progress {position: relative; height: 1.75em; background: #eaeaea; width: 100%; border-radius: 0;}
.rating-summary .progress > span {position: absolute; top: 0; left: 0; height: 100%; background: #ff8614; }
.rating-summary .col-stars {display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -ms-align-items: center; align-items: center; justify-content: space-between; color: rgba(46,47,71,0.7); }
.rating-summary .col-stars ul li .fa {margin: 0 2px;}
.rate-content p {
	color: #fff;
}
@media only screen and (min-width: 768px) {
  .rating-summary .col-rating {display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; justify-content: space-between; }
}

@media only screen and (max-width: 767px) {
  .course-review .title-block,
  .rating-summary .rate-box {margin-bottom: 1em;}
  .rating-summary .rate-box .rate {font-size: 3.75em;}
  .rating-summary .col-stars {padding-left: 15px;}
  .rating-summary .col-rating > .row {margin-bottom: 0.475em;}
  .rating-summary .col-stars ul li .fa {margin: 0 1px; font-size: 1.125em;}
}
/*========================================
			Review
=========================================*/
.review-list[data-readmore] {
	transition: height 300ms;
	overflow: hidden;
}
.review-block {
  margin-top: 2.5em;
}
.review-block h3 {
  font-size: 1.625em;
  color: #2e2f33;
  padding-bottom: 0.625em;
  border-bottom: 1px solid #e0e0e1;
}
.review-block .review-item {
  padding: 2.5em 0;
}
.review-block .review-item .review-info {
  margin-bottom: 1.5em;
}
.review-block .review-item .star-list li {
  margin: 0 2px;
}
.review-block .review-item + .review-item {
  border-top: 1px solid #e0e0e1;
}
.review-block .review-item .author {color: #2e2f33;}
.review-block .review-item .author figure {margin-bottom: 0.475em;}
.review-list[data-readmore]:after {
  background: rgba(255,255,255,0);
  background: g-moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(40%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4', GradientType=0 );
}

@media only screen and (max-width: 767px) {
  .review-block {margin-top: 1.5em;}
  .review-block .review-item {padding: 1.5em 0;}
  .review-block .review-item .author {margin-bottom: 0.75em; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -ms-align-items: center; align-items: center; }
  .review-block .review-item .author figure {-webkit-flex: 0 0 45px; -moz-flex: 0 0 45px; -ms-flex: 0 0 45px; -o-flex: 0 0 45px; flex: 0 0 45px; max-width: 45px; margin-right: 0.75em; }
}
/*========================================
			Also Like
=========================================*/
.also-like {
	background-color: #eaeaea;
}
/*========================================
			About Instructor
=========================================*/
.block {
	width: 100%;
	display: block;
}
.info-title h3 {
	font-size: 31px;
	font-weight: 700;
	margin-bottom: 20px;
}
.info-title h4 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}
.course-instructor-info p {
	font-size: 18px;
}
.about-instructor .social-link {margin: 0; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; justify-content: center; color: #fff;}
.about-instructor .social-link li {display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -ms-align-items: center; align-items: center; justify-content: center; -webkit-flex: 1 0 0; -moz-flex: 1 0 0; -ms-flex: 1 0 0; -o-flex: 1 0 0; flex: 1 0 0; background: #2b3a4e; }
.about-instructor .social-link li a {display: block; width: 100%; padding: 0.75em; text-align: center;}
.about-instructor .social-link li:nth-child(even) {background: #47576b;}

.school-carousel-wrapper {
	margin-top: 60px;
}
.school-carousel-item figure img {
	width: auto !important;
	margin: auto;
}
.school-carousel-item figure {
	border: 1px solid #e0e0e1;
}
.school-carousel-item figure figcaption {
	padding: 1em;
    border-top: 1px solid #e0e0e1;
    background: #f4f4f4;
    flex-grow: 1;
    font-weight: bold;
    height: 100px;
}

@media screen {
  .course-section.course-instructor .rating-summary .col-rating .col-bars {
    order: 3;
    margin-top: 3px
  }
}
/*========================================
			Other Courses
=========================================*/
.other-courses hr {
	margin-bottom: 3rem;
}
.other-course-link {
	background-color: #f4f4f4;
	margin-bottom: 20px;
}.other-course-link:hover {
	background-color: #fff;
	/*box-shadow: 0px 0px 5px #444*/
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.instructor-img {
	width: 40%;
}
.instructor-course {
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #2e2f33;
}
/*========================================
			Instructor Rating
=========================================*/
.instructor-rating .rating-summary .col-rating > .row {
	margin-bottom: 16px;
	align-items: center;
}
.instructor-rating .rating-summary .col-rating .col-bars {
	/*order: 3;*/
    margin-top: 3px;
}
.instructor-rating .rating-summary .col-rating .col-stars {
	justify-content: flex-end;
}
/*========================================
			Recommendation
=========================================*/
.course-recommendation .row-block {
	background: #eaeaea;
    padding-top: 2.75em;
    padding-bottom: 1.75em;
    margin-bottom: 10px;
    justify-content: center;
}
.course-recommendation {padding-top: 0;}
.course-recommendation .rating-summary .col-rating .col-stars {justify-content: space-between; }
.course-recommendation .rating-summary .col-rating > .row > [class^='col-'] {display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -ms-align-items: center; align-items: center; }

.course-recommendation .rating-summary .col-rating .col-stars .img-like {margin-top: -1em;}
.course-recommendation .rating-summary .col-bars {-webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; -ms-align-items: flex-start!important; align-items: flex-start!important;}
.course-recommendation .rating-summary .col-bars a {color: #2281e7;}
.course-recommendation .rating-summary .col-bars a:hover {text-decoration: underline;}

.course-recommendation .rating-summary .col-bars .progress a[class^='btn-'] {
	margin-top: -0.5em;
	width: 16em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 1em;
	color: #fff;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}
.course-recommendation .rating-summary .col-bars .progress a[class^='btn-'] .fa {
    font-size: 1.5em;
    width: 1.875em;
    height: 1.875em;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
.course-recommendation .rating-summary .col-bars .progress a[class^='btn-'] span {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.course-recommendation .rating-summary .col-bars .progress a.btn-linkedin {
    background: #0078b7;
}
.course-recommendation .rating-summary .col-bars .progress a.btn-linkedin .fa {
    border-right: 1px solid #00669c;
}
.course-recommendation .rating-summary .col-bars .progress a.btn-twitter {
    background: #22a3f2;
}
.course-recommendation .rating-summary .col-bars .progress a.btn-twitter .fa {
    border-right: 1px solid #1d8bce;
}
.course-recommendation .rating-summary .col-bars .progress a[class^='btn-']:hover {
  text-decoration: none;
}
.course-recommendation .row-block {
  background: #eaeaea;
  padding-top: 2.75em;
  padding-bottom: 1.75em;
  margin-bottom: 10px;
}
.course-recommendation .row-block > [class^='col-'] {
  text-align: left;
}
.course-recommendation .rating-summary .progress {
  background: #fff;
  display: block !important;
  overflow: initial;
  font-size: 16px;
}
.course-recommendation .rating-summary .col-rating .col-stars .img-ask {
  margin-top: -0.75em;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .course-recommendation .rating-summary .col-bars .progress {margin-bottom: 1.5em;}
}
@media only screen and (max-width: 767px) {
  .course-recommendation .row-block {
    margin-left: 0;
    margin-right: 0;
    padding-top: 1.5em;
    padding-bottom: 0.25em;
  }
  .course-recommendation .rating-summary .col-rating > .row > .col-label {
    font-size: 16px;
    margin-bottom: 0.75em;
  }
  .course-recommendation .rating-summary .col-rating .col-stars .img-ask {
    margin-top: -0.325em;
  }
  .course-recommendation .rating-summary .col-rating .col-stars .img-like img,
  .course-recommendation .rating-summary .col-rating .col-stars .img-ask img {
    max-height: 2.5em;
  }

}
/*========================================
			Course Comparison
=========================================*/
.table-block-01 thead th {text-align: center;}
.table-block-01 tbody th {width: 33.33333%;}
.table-block-01 tbody td:not(:first-child) {text-align: center;}
.table-block-01 tfoot td:not(:first-child) {text-align: center;}
.table-block-01 tfoot {background: #32445a; color: #fff;}
.table-block-01 tfoot a {color: #fff;}
.table-block-01 tfoot td {padding: 10px; }
.table-block-01 tfoot .btn {
  font-size: 12px;
  max-width: 11em;
  white-space: normal;
  margin: auto;
}
.table-block-01 tfoot .btn:hover {
  opacity: 0.875;
}
.table-block-01 tfoot .btn-linkedin {
  background: #0078b7;
  border: 1px solid #0078b7;
}
.table-block-01 tfoot .btn-twitter {
  background: #22a3f2;
  border: 1px solid #22a3f2;
}
.table-block-01 tfoot .btn-email {
  background: transparent;
  border: 1px solid #516073;
  position: relative;
}

.table-block-01 table {width: 100%;}
.table-block-01 table td,
.table-block-01 table th {
  border: 1px solid #e0e0e1;
  text-align: left;
  height: 5em;
  padding: 0.75em 1.125em;
}
.table-block-01 table .blank-cell {
  border: none;
}
.table-block-01 table .blur-cell {
  -webkit-filter: blur(0.25em);
    filter: blur(0.25em);
}
.table-block-01 table tbody tr:nth-child(odd) {
  background: #f4f4f4;
}
.table-block-01 table tbody tr:nth-child(even) {
  background: #fff;
}

@media only screen and (min-width: 641px) {
  .table-block-01 tfoot .btn-email {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding: 1em 1.5em;
  }
  .table-block-01 tfoot .btn-email:hover {
    border-color: #fff;
  }
}
@media only screen and (max-width: 640px) {
  .table-block-01 table {font-size: 16px;}
  .table-block-01 table td,
  .table-block-01 table th {
    height: auto;
    padding: 0.325em 0;
  }

  .table-block-01 table,
  .table-block-01 table thead,
  .table-block-01 table tbody,
  .table-block-01 table tfoot,
  .table-block-01 table tr,
  .table-block-01 table th,
  .table-block-01 table td {
    display: block;
    width: 100%;
    border: none;
  }
  .table-block-01 thead {display: none!important;}
  .table-block-01 table,
  .table-block-01 table tr {
    border: 1px solid #e0e0e1;
  }
  .table-block-01 table tr {
    padding: 0.75em 1em;
  }
  .table-block-01 table th {
    padding-bottom: 0.75em;
    border-bottom: 1px solid #e0e0e1;
    margin-bottom: 0.475em;
  }
  .table-block-01 table tbody th {
    color: #2e2f33;

  }
  .table-block-01 td {
    position: relative;
    text-align: right!important;
    padding-left: 40%!important;
  }
  .table-block-01 td[data-th="Overall"] img {
    max-width: 1.75em
  }
  .table-block-01 td:before {
    content: attr(data-th);
    position: absolute;
    top: 50%;
    left: 0;
    text-align: left;
    padding: 0.475em 0;
    width: 40%;
    color: #2e2f33;
    font-weight: 700;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .table-block-01 tfoot td:before {
    color: #fff;
  }
  .table-block-01 tfoot .btn {
    display: block;
    width: 100%;
    margin: 0;
    font-size: 10px;
    max-width: unset;
  }
  .table-block-01 table tfoot th {
    border-color: #5b697b;
    margin-bottom: 0;
  }
  .table-block-01 table tfoot td {
    padding-right: 0;
  }
  .table-block-01 tfoot td + td {
    border-top: 1px solid #5b697b; 
  }
  .table-block-01 tfoot .btn-email {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
/*========================================
			ENROLL
=========================================*/
.course-enroll .box-01 {
  padding: 2.5em 0;
  background-color: #f0fbff;
  background-image: url("../images/img_border_01.2c45d928b308.png"), url("../images/img_border_01.2c45d928b308.png");
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x;
  font-size: 1.375em;
  color: #2e2f33;
}

.course-enroll .box-01 h4 {
  font-size: 0.8125em;
  font-weight: bold;
}
.course-enroll .box-01 h3 {
  font-size: 1.454545em;
  margin: 0.675em 0 0.75em;
  font-weight: bold;
}

.course-enroll .box-01 .col-button {
  font-size: 0.8125em;
}
.course-enroll .box-01 .col-button .btn {
  padding: 0.75em 1.25em;  
}

@media only screen and (min-width: 768px) {
  .course-enroll .box-01 .col-button {
    text-align: right;
  }
}
/*========================================
			Create Course
=========================================*/
.form-set .steps {
  margin-left: -10px;
  margin-right: -10px;
}
.form-set .steps ul {
  list-style-type: none;
  margin: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.form-set .steps ul li {
  padding-right: 10px;
  padding-left: 10px;
  -webkit-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -ms-flex: 1 0 0;
  -o-flex: 1 0 0;
  flex: 1 0 0;
}
.form-set .steps ul li .current-info,
.form-set .item-title {
  display: none;
}
.form-head {
	margin: 50px 0;
}
.form-head h2 {
	color: rgba(46,47,51,1);
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 10px;
}
.form-head p {
	color: rgba(46,47,51,0.7);
	font-size: 24px;
}
.form-block {
	margin: 50px 0;
}
.form-block legend {
	font-size: 32px;
	font-weight: bold;
}
.field-block {
	margin: 20px 0;
}
.field-block label {
	font-weight: 500;
	display: block;
}
.custom-selectbox {
	height: calc(45px + 2px) !important;
}
.select-icon select {
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
 }
 .select-icon select::-ms-expand {
    display: none;
}
.select-icon:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 28px;
    color: #7d7e81;
    right: 38px;
    top: 53px;
    position: absolute;
    pointer-events:none;
}
.span-desc {
	font-size: 14px;
	color: #828384;
}
.form-set .field-row.has-value .form-control {
  background: #fff;
}
.form-set .field-row .btn-toggle {
  position: relative;
  width: 3.5em;
  background: #2281e7;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 0;
  outline: none;
  border: none;
}
.form-set .field-row .btn-toggle i {
  position: relative;
  display: block;
  width: 1.8em;
  height: 1px;
  background: #fff;
}
.form-set .field-row .btn-toggle:not(.btn-minus) i:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.form-set .field-row .btn-toggle:hover {
  background: #348ae7;
}
.form-set .field-row .btn-toggle.btn-minus {
  background: #565659;
}
.form-set .field-row .btn-toggle.btn-minus:hover {
  background: #6c6c6f;
}
.form-set .field-row + .field-row {
  margin-top: 10px;
}
.custom-file {
  display: block;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.custom-file + label {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding: 5px 5px 5px 0.75em;
  background: #f4f4f4;
  border: 1px solid #e0e0e1;
}
.custom-file.error + label {
  background: #ffe4e6;
  border-color: #e27078;
}
.custom-file + label .file-name {
  flex-grow: 1;
  color: #2e2f33;
  font-weight: 400;
}
.form-set .actions ul {
  margin-top: 50px;
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.form-set .actions ul li .btn {
  font-size: 1.125em;
  padding: 0.75em;
}
.form-set .actions ul li .btn-02 {
  border-color: #bcd9f8;
  color: #2281e7;
}
.form-set .actions ul li .btn-02:hover {
  border-color: #2281e7;
}
.form-set .actions ul li a[href='#save'] {
  font-size: 12px;
  font-weight: 500;
  color: #2281e7;
  letter-spacing: 1px;
}
.form-set .actions ul li a[href='#save']:hover {
  color: rgba(46,47,51,1);
}
.module-block {
	background-color: #f4f4f4;
}
.module-add-row {
	background-color: #f4f4f4;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-text {
	padding-bottom: 30px;
	padding-left: 30px;
	font-weight: bold;
	font-size: 12px;
	outline: none;
}
.module-btn {
	padding: 15px 20px;
	border-left: 1px solid #e0e0e1;
	outline: none;
}
.field .form-check {
	color: #828384;
	padding-top: 10px;
}
.file-caption.icon-visible .file-caption-name {
	padding-left: 0 !important;
}
.file-caption {
	border-radius: 0 !important;
	padding: 12px 10px !important;
	background-color: #f4f4f4;
}
.form-module .file-caption {
	background-color: #fff;
}
.btn-file {
	border-radius: 0 !important;
}
.input-group-btn {
	position: absolute !important;
	right: 6px;
	top: 6px;
	z-index: 100;
}
.form-module {
	padding: 30px;
}
.module-delete-row {
	background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e0e0e1;
}
@media only screen and (min-width: 768px) {
  .form-set .steps ul li a,
  .form-set .steps ul li.current ~ li.done a {
    display: block;
    width: 100%;
    border-bottom: 0.25em solid #eaeaea;
    font-size: 1.25em;
    padding: 0.325em 0;
    color: #828384;
    outline: 0;
  }
  .form-set .steps ul li.current a,
  .form-set .steps ul li.done a {
    font-weight: 700;
    border-bottom-color: #2281e7;
    color: #2e2f33;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 1024px) {
  .form-set .steps ul li a, .form-set .steps ul li.current ~ li.done a {
    font-size: 1.125em;
  }
}
@media only screen and (max-width: 767px) {
  .form-set .form-head {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .form-set .form-body {
    padding-top: 1.75em;
  }

  .form-set .form-block {
    padding-bottom: 2em;
    margin-bottom: 1em;
  }
  .form-set .steps {
    padding: 0 10px;
  }
  .form-set .steps ul {
    position: relative;
  }
  .form-set .steps ul li {
    margin: 0 5px;
    padding: 0;
  }
  .form-set .steps ul li:not(.current) a {
    display: none;
  }

  .form-set .steps ul li, .form-set .steps ul li.current ~ li.done {
    border-bottom: 0.25em solid #eaeaea;
  }
  .form-set .steps ul li.current, .form-set .steps ul li.done {
    font-weight: 700;
    border-bottom-color: #2281e7;
  }
  .form-set .steps ul li.current a {
    position: absolute;
    top: -1.75em;
    left: 5px;
    font-size: 14px;
  }
  
}
/*========================================
			Read More
=========================================*/
[data-readmore] {position: relative; }
[data-readmore]:after {
  -webkit-transition: all 0.475s cubic-bezier(.14,.61,.19,1); -moz-transition: all 0.475s cubic-bezier(.14,.61,.19,1); -ms-transition: all 0.475s cubic-bezier(.14,.61,.19,1); -o-transition: all 0.475s cubic-bezier(.14,.61,.19,1); transition: all 0.475s cubic-bezier(.14,.61,.19,1);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 7.5em;
  background: rgba(244,244,244,0);
  background: -moz-linear-gradient(top, rgba(244,244,244,0) 0%, rgba(244,244,244,1) 85%, rgba(244,244,244,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,244,244,0)), color-stop(40%, rgba(244,244,244,1)), color-stop(100%, rgba(244,244,244,1)));
  background: -webkit-linear-gradient(top, rgba(244,244,244,0) 0%, rgba(244,244,244,1) 85%, rgba(244,244,244,1) 100%);
  background: -o-linear-gradient(top, rgba(244,244,244,0) 0%, rgba(244,244,244,1) 85%, rgba(244,244,244,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,244,244,0) 0%, rgba(244,244,244,1) 85%, rgba(244,244,244,1) 100%);
  background: linear-gradient(to bottom, rgba(244,244,244,0) 0%, rgba(244,244,244,1) 85%, rgba(244,244,244,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4', GradientType=0 );
  z-index: 1;
}

[data-readmore][aria-expanded='true']:after {height: 0; }

.btn-more-01 {color: #2e2f33; text-transform: uppercase; letter-spacing: 1px; font-size: 12px; font-weight: 700; position: relative;z-index: 1;}
.btn-more-01 .fa-stack {margin-top: -0.275em; margin-right: 0.325em; color: #2281e7;}
.btn-more-01 .fa-stack-1x {font-size: 1.3em;}

.course-module-content[data-readmore] {margin-top: 1.25em;}
.course-module-content[data-readmore]:after {pointer-events: none; background: rgba(46,47,51,0); background: -moz-linear-gradient(top, rgba(46,47,51,0) 0%, rgba(46,47,51,1) 75%, rgba(46,47,51,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,47,51,0)), color-stop(40%, rgba(46,47,51,1)), color-stop(100%, rgba(46,47,51,1))); background: -webkit-linear-gradient(top, rgba(46,47,51,0) 0%, rgba(46,47,51,1) 75%, rgba(46,47,51,1) 100%); background: -o-linear-gradient(top, rgba(46,47,51,0) 0%, rgba(46,47,51,1) 75%, rgba(46,47,51,1) 100%); background: -ms-linear-gradient(top, rgba(46,47,51,0) 0%, rgba(46,47,51,1) 75%, rgba(46,47,51,1) 100%); background: linear-gradient(to bottom, rgba(46,47,51,0) 0%, rgba(46,47,51,1) 75%, rgba(46,47,51,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4', GradientType=0 ); z-index: 1; }
.course-module-content[data-readmore] + a[data-readmore-toggle] {color: #fff;}

/*========================================
			Module Page
=========================================*/
.module-wrapper h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
}
.module-nav {
	background-color: #565659;
}
.module-nav-container {
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 20px 0;
}
.module-prev a {
	color: #fff;
	font-weight: bold;
	border-right: 1px solid #6f6f72;
    padding: 10px 20px 10px 0;
}
.module-next a {
	color: #fff;
	font-weight: bold;
	border-left: 1px solid #6f6f72;
    padding: 10px 0 10px 20px;
}
.module-prev a i, .module-next a i {
	font-size: 20px;
	padding: 0 5px;
}
.module-title {
	background-color: #2e2f33;
	color: #fff;
	background-image: url("../images/bg_pattern_03.28c407121641.png");
	background-repeat: repeat-x;
	padding: 2.5em 0 5em;
	background-position: bottom;
}
.module-title h1 {
	font-size: 42px;
	font-weight: bold;
}
.module-video {
	margin-top: -50px;
	padding-bottom: 50px;
}
.module-img {
	height: 100%;
}
.module-img img {
	width: 100%;
	height: 100%;
}
.module-img .play-toggle {
	font-size: 2.5em;
}
.module-img-detail {
	background-color: #32445a;
	padding: 30px 30px;
	box-shadow: 0 1em 3.5em -1em rgba(0,0,0,0.375);
}
.module-img-detail h4 {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.module-img-detail p {
	color: #adb2b9;
}
.module-resources {
	padding: 30px 0;
}
.module-resources ul li {
	list-style: initial;
}
.module-nav-block {
	background-color: #eaeaea;
	padding: 100px 0;
}
.prev-item {
	background-color: #2e2f33;
	color: #fff;
	padding: 40px;
}
.next-item {
	background-color: #2281e7;
	color: #fff;
	padding: 40px;
}
.prev-item h4, .next-item h4 {
	font-size: 22px;
	font-weight: 300;
}
/*========================================
			Text Page
=========================================*/
.text-title h1 {
	font-size: 46px;
	font-weight: bold;
	color: #fff;
}
.text-desc {
	font-size: 24px;
	color:rgba(255,255,255,0.7);
	margin: 25px 0;
}
.text-btn {
	margin-bottom: 100px;
}
.text-btn a {
	margin-right: 10px;
}
.text-btn .btn {
	padding: 10px 20px;
}
.text-wrapper {
	padding: 30px 0;
}
.heading-2 h2, .heading-3 h3, .heading-4 h4,
.heading-5 h5, .heading-6 h6 {
	margin: 30px 0;
}
.heading-2 h2 {
	font-size: 32px;
	font-weight: bold;
	margin: 30px 0;
}
.heading-2 p {
	font-size: 22px;
}
.heading-3 {
	margin-top: 30px;
}
.heading-3 h3 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 30px;
}
.heading-3 p {
	font-size: 18px;
}
.p-quote {
	font-size: 22px;
	font-weight: 300;
	border-left: 5px solid #2281e7;
	padding: 10px 30px;
	margin-bottom: 30px;
}
.p-bg {
	font-size: 18px;
	padding: 30px;
	background-color: #eaeaea;
}
.full-width {
	width: 100%
}
.heading-4 h4 {
	font-size: 26px;
	font-weight: bold;
}
.heading-4 tbody {
	 border: 1px solid #e9ecef;
}
.text-bg {
	margin-bottom: 50px;
}
.heading-5 h5 {
	font-size: 22px;
	font-weight: bold;
}
.heading-6 h6 {
	font-size: 20px;
	font-weight: bold;
}
.heading-6-list ul li {
	list-style: initial;
	margin-left: 20px;
}
.text-form .module-wrapper .select-icon {
	position: relative;
}
.text-form .module-wrapper .select-icon:after {
	top:2px;
}

.f-grow {
	flex-grow: 1;
	flex-basis: 0;
}
/*========================================
			Responsive
=========================================*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.feature-container [class*= 'col-']{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.hero {
		height: 50vh;
	}
	.banner-title h1 {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.banner-desc {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.banner-container {
		padding: 35px 0;
	}
	.banner-search {
		padding: 0 60px;
	}
	.banner-field {
		padding: 5px 25px;
		font-size: 16px;
	}
	.banner-form .search-btn i {
		padding: 15px 20px;
	}
	.feature-item-desc p {
		font-size: 12px;
	}
	.feature-item {
		border-bottom: 1px solid #4d4e51;
		padding: 20px;
	}
	.brand-item-list [class*='col-'] {
		padding: 0 10px;
	}
	.card {
		width: 22rem;
	}
	.hire-title h1 {
		font-size: 28px;
		margin-bottom: 15px;
	}
	.hire-desc {
		font-size: 14px;
		font-weight: 500;
	}
	.hire-btn a {
		font-size: 18px;
	}
	.footer-item {
		position: initial;
		width: 72%;
	}
	.block-courses-img .col-md-6 .course-detail a {
		margin: 30px 0 0 0;
	}
	.col-left {
		flex: 27% !important;
		max-width: 27% !important;
	}
	.col-right {
		flex: 50% !important;
		max-width: 50% !important;
	}
	.instructor-info {
		padding: 12px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .center-block img {
  	width: 80%;
  }
  .feature-item-desc {
  	padding-left: 30px;
  }
  .feature-item-desc p {
  	font-size: 12px;
  }
  .block-courses-img .col-md-6 .course-detail a span {
  	padding-top: 5px;
  	font-weight: 500;
  }
  .course-head-wrapper {
  	padding: 100px 30px 10px 30px;
  }
  .course-title {
  	font-size: 25px;
  }
  .course-tag {
  	font-size: 15px;
  	font-weight: 700;
  }
  .course-head-2-wrapper .btn-02 {
  	font-size: 14px;
  }
  .course-head-2-wrapper .btn-03 {
  	font-size: 14px;
  	padding-left: 50px;
    padding-right: 50px;
  }
  .course-content-icon {
  	width: 15%;
  }
  .course-content img {
  	width: 15%;
  }
  .course-benefits .course-content img {
  	width: 30%;
  }
  .info-title h3 {
  	font-size: 26px;
  }
  .info-title h4 {
  	font-size: 19px;
  }
  .course-instructor-info p {
  	font-size: 14px;
  }
  .course-preview-title {
  	font-size: 25px;
  }
  .module-img-detail h4 {
  	padding-bottom: 20px;
  }
  .module-wrapper h2 {
  	font-size: 28px;
  }
  .module-nav-block {
  	padding: 50px 0;
  }
  .module-wrapper {
  	padding-top: 0;
  }

  .brand-item-list [class*='col-'] {
		padding: 0 10px;
	}
}